

/*RESET*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
  }


#iconoCarro{
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

header {
    margin-bottom: 25px;
}

em {
    font-weight: bold;
}

footer {
    width: 100%;
}

.imgLogo {
   margin: auto;
   padding-top: 1px;
   padding-left: 15px;
   object-fit: cover;
   width: 50%  !important;
   height:50%  !important;
   }

img {
    width: auto !important; 
    height: auto;
    max-height: 220px !important;
    margin: 15px auto 5px auto;
}

.fotoEnCarro {
    height: 10vw;
    margin: auto;
}

p {
    object-fit:contain;
    margin: auto;
    padding: auto;
    /* padding-bottom: 5px; */
    /* margin-bottom: 5px; */
}
.contienePrecio {
    font-size: 20px;
    font-weight: bold;
    
}


body {
    display: grid;
    /*corrige posición del footer siempre abajo*/
    min-height: 100vh;
    /*idem*/
    /* grid-template-rows: auto auto 1fr auto; */
    /*idem*/
}

.tituloEtiqueta {
    font-family: 'Pangolin', cursive;
}

.tituloPrincipal{
    font-size: 30px  !important ;
    font-style: normal !important;
    font-weight: bold;
}

.cards{
    margin-bottom: 10px;
    margin-top: 10px;
}

.btnPagar{
    margin-top: 10px;
    margin-right: 10px;
}

.filtro {
    display: none;
}

input {
    color: white;
    font-family: 'Pangolin', cursive !important;
    font-size: 1.2vw !important;
}

#terrasana {
    background-color: #fff176;
}

#terravita {
    background-color: #ffcc80;
}

#eggles{
    background-color: #64ffda;
}

#planty {
    background-color: #40c4ff;
}

#natufresh{
    background-color: #ef9a9a;
}

#intizen {
    background-color: #e1bee7;
}

#misionNatural {
    background-color: #d4e157;
}

#gelReal {
    background-color:#ffab91;
}

#elCosaco {
    background-color: #b0bec5;
}

/* Estilos para mobile */
@media only screen and (min-width: 0px) and (max-width: 537px) {

    .tituloPrincipal{
        font-size: 15px  !important ;
        font-style: normal !important;
        font-weight: bold;
    }

    .buscador {
        display: none;
    }

    #controlTabla{
        height: auto;
        /* width: auto; */
        max-width: 100px;
    }

}