
#iconoCarro{
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

header {
    margin-bottom: 25px;
}

em {
    font-weight: bold;
}

footer {
    width: 100%;
}

.imgLogo {
   margin: auto;
   padding-top: 1px;
   padding-left: 15px;
   object-fit: cover;
   width: 50%  !important;
   height:50%  !important;
   }

img {
    width: auto !important; 
    height: auto !important;
    max-height: 280px !important;

    margin: auto;
}

p {
    object-fit:contain;
}

body {
    display: grid;
    /*corrige posición del footer siempre abajo*/
    min-height: 100vh;
    /*idem*/
    /* grid-template-rows: auto auto 1fr auto; */
    /*idem*/
}

.tituloEtiqueta {
    font-family: 'Pangolin', cursive;
}
.tituloEtiquetaTitulo{
    font-size: 22px  !important ;
    font-style: normal !important;
    font-weight: bold;
}

.cards{
    margin-bottom: 10px;
    margin-top: 10px;
}

.btnPagar{
    margin-top: 10px;
    margin-right: 10px;
}

.filtro {
    display: none;
}

input {
    color: white;
    font-family: 'Pangolin', cursive !important;
    font-size: 1.2vw !important;
}


